*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    

}

body {
   
    background: #fbffc0; 
    font-family: Arial, sans-serif;


}

.container{
    margin: 0 100px;
    padding : 140px 0;


}

.form-box{
    
    width: 100%;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0  0 10px #000000fd;
    background: white;
    display: none;


}
.form-box.active{
    display: block;
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    
}

.name-input,.email-input,.password-input,select{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;
    margin: 2px;
    box-shadow: 2px 2px 10px #0000001a;
    padding: 20px;
    
}


.file-input{
     width: 220px;
    border: none;
    outline: none;
    border-radius: 6px;
    margin: 2px;
    box-shadow: 2px 2px 10px #0000001a;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 250px;

   


}
.file-input:hover{
    cursor: pointer;
    box-shadow: 4px 4px 15px #00000033;
}
 .file-input h4{
    position: absolute;
    margin-left: 500px;
    margin-top: -40px;
    font-size: 16px;
    color: rgb(19, 0, 63);
 }

p{
    font-size: 14.5px;
    margin-bottom: 12px;
    text-align: center;
}

p a{
    font-weight: 600;
    cursor: pointer;
    color:rgb(19, 0, 63);
    text-decoration:none ;
    
}

p a:hover{
    text-decoration: underline;
}

.error-message {
    padding: 12px;
    background: whitesmoke;
    border-radius: 6px;
    font-size: 16px;
    color: rgb(231, 0, 0);
    text-align: center;
    margin-bottom: 20px;

}

.log-button,.reg-button{
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background:#083a01;
    border-radius: 6px;
    border: none;
    outline: none;
} 



/* MAIN PAGE  */
.navbar{
    background: #083a01;
    
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    margin: 20px;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 10px; 
}



nav .logo {
    font-size: 26px;
    font-weight: bold;
    color: #D0DB61;
}

nav .logo-icon{
    font-size: 36px;
    color: #D0DB61;
    margin-left: 10px;
    
}
.box{
    flex: 1;
    padding: 30px;
    /* margin: 100px; */
    
}

.box h1, span{
    font-size: 20px;
    text-align: center;
    color: #fbffc0;
}




.box button:hover{
    background: #33277cda;
    color: black;
    cursor: pointer;
    
} 

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px; 
}

nav .logout-btn {
    padding: 10px 18px;
    background: rgba(233, 14, 58, 0.815);
    border: 0;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin-right: 20px  ;
}

nav .logout-btn:hover {
    background: #ff4c4c;
    color: black;
    transform:scale(0.5px) ;
}

nav .i{
 
    color: #F74D29;
    margin-right: 8px;
    
}


.add-btn{
    margin-right: 10px;
    cursor: pointer;
    font-size: 36px;
    color: #D0DB61;


}

.add-btn:hover, .message-btn:hover{
    color: #33277cda;
}

.message-btn{
    margin-right: 20px;
     cursor: pointer;
     font-size: 36px;
     color:#D0DB61;
}


.dashboard {
    display: flex;
}

.sidebar {
    width: 300px;
    background: #fbffc0 ;
    color: rgb(1, 39, 6);
    height: 100vh;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(1, 0, 34, 0.5);
    border-radius: 20px;
    margin : 0 20px 0  0;    
/* border: 2px solid #010022; */

    
}

.sidebar table{
    width: 100%;
    border-collapse: collapse;
}

.sidebar table th{
   
    text-align: center;
    border-bottom: 1px solid #bdb9b9;
    font-size: 24px;
    color: rgb(13, 114, 0);
}

 .sidebar table td{
    text-align: left;
    border: none;
    font-size: 20px;
    color: rgb(2, 56, 0);
    width: 100%;
    padding: 20px 0;
    cursor: pointer;
}
.sidebar table td:hover{
    background: #102e00;
    border-radius: 10px;
    color:#D0DB61
}


.chats{
    flex: 1;
    padding: 30px;
    margin-right: 20px;
    background: #ececeb;
    border-radius: 20px;
    box-shadow: 0 0 05px #000;
}






.content {
    flex: 1;
    padding: 30px;
}




.request{
   
    background:#fbffc0 ;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
      box-shadow: 0 0 5px #000000fd;

}
.request h1{
    text-align: center;
    padding: 20px;
}
.request table{
    width: 100%;
    
    
}

.request table th, .request table td{
    font-size: 20px;
    text-align: center;
    padding: 12px;
    border: 2px solid rgba(110, 109, 109, 0.151);
  
    
    
}
.accept-btn{
    background:#032500;
    color: #F9EEBD;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;

}

.accept-btn:hover{
    background: green;
}

.reject-btn{
    background: rgb(136, 2, 29);
    color: #F9EEBD;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
}

.reject-btn:hover{
    background: rgb(128, 0, 0);
}


.chats {
    flex: 1;
    background: #fbffc0;
    display: flex;
    flex-direction: column;
     box-shadow:  6px rgba(1,0,34,0.2);
    
 
}


.chat-header {
    background: #032500;
    padding: 16px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow:  6px rgba(1,0,34,0.2);
    border-radius: 20px;
}

.nav-chat-act{
    display: flex;
    align-items: center;
    gap: 12px;
}
.nav-chat-act h4{
    color: #fbffc0;
}
.nav-chat-act p{
    margin-top: 30px;
    color: #fbffc0;
    text-decoration: none;
    display:  none;
}

.nav-chat-icons{
    display: flex;
    align-items: center;
    gap: 16px;
}

.nav-chat-icons i{
    font-size: 28px;
    cursor: pointer;
    color: #D0DB61;
    
}

.chat-body {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}


.chat-input {
    background: transparent;
    padding: 14px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    border-top: 2px solid #ccc;
    border-radius: 20px;
}

.chat-input input {
    flex: 1;
    padding: 12px;
    border-radius: 6px;
    border: 2px solid #02740a;
    background: transparent;
    
}



.chat-input i {
    font-size: 28px;
    cursor: pointer;
    color: #017a25;
    


}