*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

body {
   
    background: #f0f0f0; 
    font-family: Arial, sans-serif;


}

.container{
    margin: 0 100px;
    padding : 140px 0;


}

.form-box{
    
    width: 100%;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0  0 10px #000000fd;
    background: white;
    display: none;


}
.form-box.active{
    display: block;
}

h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
    
}

input,
select{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 6px;
    color: rgb(53, 53, 53);
    font-size: 16px;
    background: rgb(207, 206, 206);
}

button {
    cursor: pointer;
    border: none;
}

button:hover{
    background: #33277cda;
    color: black;
    cursor: pointer;
    
}

p{
    font-size: 14.5px;
    margin-bottom: 12px;
    text-align: center;
}

p a{
    font-weight: 600;
    cursor: pointer;
    color:rgb(19, 0, 63);
    text-decoration:none ;
    
}

p a:hover{
    text-decoration: underline;
}

.error-message {
    padding: 12px;
    background: whitesmoke;
    border-radius: 6px;
    font-size: 16px;
    color: rgb(231, 0, 0);
    text-align: center;
    margin-bottom: 20px;

}

.log-button,.reg-button{
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: rgb(19, 0, 63);
    border-radius: 6px;
    border: none;
    outline: none;
} 



/* MAIN PAGE  */
.navbar{
    background: #616072;
    color: white;
    padding: 16px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left{
    display: flex;
    align-items: center;
    gap: 10px; 
}



nav .logo {
    font-size: 26px;
    font-weight: bold;
    color: #000;
}

nav .logo-icon{
    font-size: 36px;
    color: #00185c;
    
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px; 
}

nav .logout-btn {
    padding: 10px 18px;
    background: crimson;
    border: 0;
    border-radius: 6px;
    color: white;
    cursor: pointer;
}

nav .logout-btn:hover {
    background: #ff4c4c;
    color: black;
    transform:scale(0.5px) ;
}

nav .i{
 
    color: white;
    margin-right: 8px;
    
}
.add-btn{
    margin-right: 10px;
    cursor: pointer;
    font-size: 36px;


}

.add-btn:hover, .message-btn:hover{
    color: #33277cda;
}

.message-btn{
    margin-right: 20px;
     cursor: pointer;
     font-size: 36px;
}


.dashboard {
    display: flex;
}

.sidebar {
    width: 440px;
    background: #010022;
    color: white;
    height: 100vh;
    padding: 20px;
}

.content {
    flex: 1;
    padding: 30px;
}

.box{
    flex: 1;
    padding: 30px;
    /* margin: 100px; */
    
}

.box p{
    font-size: 200px;
    text-align: center;

}


.box button:hover{
    background: #33277cda;
    color: black;
    cursor: pointer;
    
} 


.request{
   
    background:#e6e6e7 ;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
      box-shadow: 0 0 5px #000000fd;

}
.request h1{
    text-align: center;
    padding: 20px;
}
.request table{
    width: 100%;
    
    
}

.request table th, .request table td{
    font-size: 20px;
    text-align: center;
    padding: 12px;
    border: 2px solid rgb(83, 82, 82);
  
    
    
}
.accept-btn{
    background: rgb(20, 220, 63);
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;

}

.accept-btn:hover{
    background: green;
}

.reject-btn{
    background: crimson;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 26px;
}

.reject-btn:hover{
    background: rgb(128, 0, 0);
}